@import './variables.scss';

.home {
    background-color: $white;
}

.title {
    text-align: center;
    font-size: 1.2rem;
    margin: 0.6rem auto;
}

.login-container,
.register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.login-inner,
.profile-container {
    margin: 0 1rem;
    padding: 1rem;
    max-width: 500px;
    width: 100%;
}

.movies-container {
    margin: 24px auto 48px auto;
    width: 85vw;

    h2 {
        margin-bottom: 24px;
    }

    @media screen and (max-width: 1020px) {
        width: 100vw;
    }
}

.movie-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    .movie-detail {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;

        img {
            width: 100%;
            max-width: 200px;
            height: auto;
            border-radius: 8px;
        }

        h3 {
            font-size: 1rem;
            text-align: center;
        }

        .info {
            background-position: top center;
            background-size: cover;
            background-repeat: repeat-x;
            max-height: 450px;
            display: flex;
            gap: 0.5rem;
            font-size: 0.9rem;
            width: 100%;
            min-height: 400px;
        }
    }
}